/*
Title: Creating an HTML5 enhanced responsive-ready contact form, with custom javascript feature detection
Tutorial on: http://www.onextrapixel.com
Author: http://www.toddmotto.com
*/

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
body {
	font:400  18px/1.625 "ITCFranklinGothic LT Book";
	color:#444;
	background:#ffffff;
/*	background-image:linear-gradient(left , #761542 0%, #991D57 52%, #761542 100%);
	background-image:-moz-linear-gradient(left , #761542 0%, #991D57 52%, #761542 100%);
	background-image:-webkit-linear-gradient(left , #761542 0%, #991D57 52%, #761542 100%);*/
}
.wrapper {
	max-width:600px;
	width:95%;
	margin:0 auto;
	position:relative;
}

img {
	max-width:100%;
	height: auto;
	
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
	font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#e2e2e2;
	
}
#contact-form input[type="text"]
{
	border: #bec4399 thin solid;
	height:40px;
}
contact-form h3{
	font-family: "ITCFranklinGothic LT Med";
	color: #bcbdc0;
}

contact-form h2{
	font-family: "ITCFranklinGothic LT Med";
 
}

#contact-form {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#ffffff;
	padding:45px;
}
#contact-form h2 {
	color:#333;
	display:block;
	font-size:20px;
}
#contact-form h3 {
	color:#CCC;
	display:block;
	font-size:28px;
}
#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
#contact-form h5 {
	color:#CCC;
	display:block;
	font-size:20px;
}
#contact-form label span {
	cursor:pointer;
	color:#333;
	display:block;
	margin:5px 0;
	font-weight:300;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #ec4399;
	background:#eff0f1;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-form button[type="submit"] {
	cursor:pointer;
	width:40%;
	border:none;
	background:#ec4399;
	background-image:linear-gradient(bottom, #ec4399 0%, #d13987 52%);
	background-image:-moz-linear-gradient(bottom, #ec4399 0%, #d13987 52%);
	background-image:-webkit-linear-gradient(bottom, #ec4399 0%, #d13987 52%);
	color:#FFF;
	margin: 0 auto;
	padding: 10px;
	border-radius:5px;
}
#contact-form button[type="submit"]:hover {
	background-image:linear-gradient(bottom, #bcbdc0 0%, #a7a8ab 52%);
	background-image:-moz-linear-gradient(bottom, #bcbdc0 0%, #a7a8ab 52%);
	background-image:-webkit-linear-gradient(bottom, #bcbdc0 0%, #a7a8ab 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact-form button[type="reset"] {
	 
	cursor:pointer;
	width:40%;
	border:none;
	background:#ec4399;
	height:33px;

	background-image:linear-gradient(bottom, #bcbdc0 0%, #a7a8ab 52%);
	background-image:-moz-linear-gradient(bottom, #bcbdc0 0%, #a7a8ab 52%);
	background-image:-webkit-linear-gradient(bottom, #bcbdc0 0%, #a7a8ab 52%);
	color:#FFF;
	margin: 0 auto;
	padding: 8px;
	border-radius:5px;
}
#contact-form button[type="reset"]:hover {
		background-image:linear-gradient(bottom, #ec4399 0%, #d13987 52%);
	background-image:-moz-linear-gradient(bottom, #ec4399 0%, #d13987 52%);
	background-image:-webkit-linear-gradient(bottom, #ec4399 0%, #d13987 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}
